* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 2.2rem;
  align-items: center;
}

.menuLogo {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.containerInputSearch {
  width: 45rem;
  display: flex;
  align-items: center;
}

.containerInputSearch input {
  width: inherit;
  height: 4rem;
  border: 1px solid #ccc;
}

.containerImageSearch {
  width: 6rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.menuIcon img {
  width: 2.4rem;
  height: 2.4rem;
}

.menuIcon .avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
